
<app-body-main [ngClass]="routes=='/admin/index'?'d-block':'d-none'"></app-body-main>


<app-list   [ngClass]="routes=='/admin/questions'?'d-block':'d-none'"></app-list>
<app-create [ngClass]="routes=='/admin/createQuestion'?'d-block':'d-none'"></app-create>
<app-update [ngClass]="routes=='/admin/updateQuestion'?'d-block':'d-none'"></app-update>


<app-users [ngClass]="routes=='/admin/users'?'d-block':'d-none'"></app-users>

<app-us-create [ngClass]="routes=='/admin/createUsers'?'d-block':'d-none'"></app-us-create>

