<div id="wrapper">

  <app-navleft></app-navleft>
  <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
          <app-header-admin></app-header-admin>
          <div class="container-fluid">

<div class="mod-createQuestion">
  <h2 class="text-center"> Update Question </h2>
  <hr/>
 <div class="mod-createQuestion-content px-4">
   <form class="row" [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)">
     <div class="col-lg-6 col-12">
       <div class="form-group">
         <label >Question ?</label><br/>
           <textarea class="p-1" type="text" formControlName="question" cols="60" rows="4"></textarea>
       </div>

       <div class="form-group" formArrayName="answer">
         <label  >Answer</label>
         <div *ngFor="let list_item of answer.controls;  let i=index" [formGroupName]="i" class="panel panel-default">
           {{i + 1}}.) <input type="text" formControlName='name'    class="form-control">
         </div>
       </div>
       <div class="form-group d-flex">
         <a class="form-control btn btn-primary" (click)="addAnswer(true)">+</a>
         <a class="form-control btn btn-danger" (click)="addAnswer(false)">-</a>
       </div>

     </div>
     <div class="col-lg-6 col-12">
       <div class="form-group" >
         <label >True Answer</label>
           <select class="form-control " formControlName="trueAnswer" formArrayName="answer">

             <option    class="text-center">-----Choose Answer Correct----- </option>
             <option *ngFor="let list_item of answer.controls;  let i=index"  [formGroupName]="i" [ngValue]="list_item.get('name').value">
               {{list_item.get('name').value}}
             </option>
           </select>
       </div>

       <div class="row">

           <div class="col-lg-6 d-flex ">

            <div class="form-group w-100 ">
              <label >Theme</label>
              <select  class="form-control "  formControlName="themeName">
                <option *ngFor="let item of themes"   ng-selected="selected" [value]="item"  >{{item}}</option>
              </select>
            </div>
            <div class="form-group " [ngClass]="hiden1==true?'d-block':'d-none'"  >
              <label >New Theme</label>
              <input type="text"  [value]="newTheme" (change)="modelChangeFn($event)" (mouseout)="onMouse()"  class="form-control" >
            </div>

            <div class="nav-item dropdown">
              <a  title="new theme" class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown"  >
                <i class="eva eva-more-vertical-outline    "></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="openNewTheme()">{{hiden1==true?"close":" other theme"}}</a>

              </div>
            </div>
          </div>
           <div class="col-lg-6">
             <div class="form-group ">
               <label >Point</label>
               <input type="text" formControlName="point"  class="form-control" >
             </div>
           </div>
       </div>
       <div class="row">
         <div class="col-lg-6">
           <div class="form-group ">
             <label >level</label>
             <input type="text" formControlName="level"  class="form-control" >
           </div>
         </div>
         <div class="col-lg-6">
           <div class="form-group ">
             <label >Time</label>
             <input type="text" formControlName="timeallow"  class="form-control" >
           </div>
         </div>
     </div>
       <button type="submit" class="btn btn-primary"> <i  class="eva eva-save-outline"></i> Save   </button>
       <button type="submit" routerLink="/admin/questions" class="btn btn-danger ml-1"><i class="eva eva-close-circle-outline
        "></i> Cancel</button>
      </div>

   </form>
 </div>
</div>


             <app-bodys></app-bodys>
          </div>
      </div>
      <footer class="sticky-footer bg-white">
          <div class="container my-auto">
              <div class="copyright text-center my-auto">
                  <span>Copyright &copy; Your Website 2020</span>
              </div>
          </div>
      </footer>
  </div>
</div>

