<div class="mod-footer py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img class="mod-header-logo" src="../../../assets/Images/logo.png" />
      </div>
      <div class="col-md-3 text-center">
        <h3>All Packages</h3>
        <ul>
          <li>Homepage</li>
          <li>Details</li>
          <li>Questions</li>
          <li>Review</li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <h3>Member</h3>
        <ul>
          <li>Homepage</li>
          <li>Details</li>
          <li>Questions</li>
          <li>Review</li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <h3>Contacts</h3>
        <ul>
          <li>Question Bank</li>
          <li>Infodation</li>
        </ul>
      </div>
    </div>
  </div>

</div>
