<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="IFD.Logging.JsonLayout, IFD.Logging"></layout>
  </appender>
  <root>
    <level value="INFO"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>
</log4net>
