.mod-header{
  position: absolute;
  z-index: 999;

  .navbar{
    padding: 0;
  }
  .login{
    &-btn{
      border-radius: 30px;
      background-color: #c52941;
      color: #fff;
      font-weight: 500;
      &:hover{
        text-decoration: none;
        background: #f52443;
        z-index: 1;
      }
    }
    &:hover{
      color: #010E21;
    }
  }

}

.header-sticky ul li a {
	padding: 10px 10px;
}
.header-bottom.header-sticky.sticky-bar{
	background: #010E21;
}
.header-sticky.sticky-bar .main-menu ul>li>a {
	padding:27px 13px;
}

