version: '3.8'

services:
  postgres-db:
    image: postgres:16-alpine  # Bản alpine cho nhẹ
    container_name: energy_postgres
    environment:
      - POSTGRES_USER=postgres      # User mặc định
      - POSTGRES_PASSWORD=admin     # Mật khẩu (nhớ đổi khi production)
      - POSTGRES_DB=EnergyDb        # Tên Database sẽ tự tạo
    ports:
      - "5432:5432"                 # Cổng ngoài : Cổng trong
    volumes:
      - postgres_data:/var/lib/postgresql/data # Để dữ liệu không mất khi tắt container

volumes:
  postgres_data: