services:
  postgres-db:
    image: postgres:16-alpine
    container_name: energy_postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  customer-api:
    platform: linux/amd64
    image: huyngoinfo/energy-customer-api:latest
    container_name: energy_customer_api
    restart: always
    depends_on:
      - postgres-db
    ports:
      - "5000:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres-db;Port=5432;Database=${POSTGRES_DB_Customer};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - ASPNETCORE_ENVIRONMENT=Development

  pdf-service:
    platform: linux/amd64
    image: huyngoinfo/energy-pdf-service:latest
    container_name: energy_pdf_service
    restart: always
    depends_on:
      - postgres-db
    env_file:
      - .env
    ports:
      - "5001:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres-db;Port=5432;Database=${POSTGRES_DB_Pdf};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - ASPNETCORE_ENVIRONMENT=Development
      - AWS__Region=${AWS_REGION}
      - AWS__BucketName=${AWS_BUCKET_NAME}
      - AWS__AccessKey=${AWS_ACCESS_KEY}
      - AWS__SecretKey=${AWS_SECRET_KEY}
    volumes:
      - pdf_temp:/app/temp

volumes:
  postgres_data:
  pdf_temp:
