services:
  postgres-db:
    image: postgres:16-alpine
    container_name: energy_postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_Customer}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh

  postgres-pdf:
    image: postgres:16-alpine
    container_name: energy_postgres_pdf
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER_PDF}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_PDF}
      - POSTGRES_DB=${POSTGRES_DB_PDF}
    ports:
      - "5433:5432"
    volumes:
      - postgres_pdf_data:/var/lib/postgresql/data
 
  postgres-auth:
    image: postgres:16-alpine
    container_name: energy_postgres_auth
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER_AUTH}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_AUTH}
      - POSTGRES_DB=${POSTGRES_DB_Auth}
    ports:
      - "5434:5432"
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data
  
  minio:
    image: minio/minio:latest
    container_name: energy_minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-minioadmin}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  rabbitmq:
    image: rabbitmq:3-management # Bản management có giao diện web quản lý
    container_name: energy_rabbitmq
    ports:
      - "5672:5672"   # Cổng giao tiếp cho Code (AMQP)
      - "15672:15672" # Cổng giao diện Web (UI)
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  customer-api:
    image: huyngoinfo/energy-customer-api:latest
    container_name: energy_customer_api
    restart: always
    depends_on:
      - postgres-db
    env_file:
      - .env
    ports:
      - "5000:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres-db;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - ASPNETCORE_ENVIRONMENT=Development

  pdf-service:
    image: huyngoinfo/energy-pdf-service:latest
    container_name: energy_pdf_service
    restart: always
    depends_on:
      - postgres-pdf
      - minio
    env_file:
      - .env
    ports:
      - "5001:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres-pdf;Port=5432;Database=${POSTGRES_DB_PDF};Username=${POSTGRES_USER_PDF};Password=${POSTGRES_PASSWORD_PDF}
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-Development}
      - AWS__Region=${AWS_REGION}
      - AWS__BucketName=${AWS_BUCKET_NAME}
      - AWS__AccessKey=${AWS_ACCESS_KEY}
      - AWS__SecretKey=${AWS_SECRET_KEY}
      - AWS__ServiceURL=${AWS_SERVICE_URL}
      - AWS__ForcePathStyle=${AWS_FORCE_PATH_STYLE:-true}
    volumes:
      - pdf_temp:/app/temp
  
  auth-service:
    image: huyngoinfo/energy-auth-service:latest
    container_name: energy_auth_service
    restart: always
    depends_on:
      - postgres-auth
    env_file:
      - .env
    ports:
      - "5002:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres-auth;Port=5432;Database=${POSTGRES_DB_Auth};Username=${POSTGRES_USER_AUTH};Password=${POSTGRES_PASSWORD_AUTH}
      - ASPNETCORE_ENVIRONMENT=Development
  email-api:
    image: huyngoinfo/energy-email-api:latest
    build:
      context: .
      dockerfile: src/EmailService/Api/Dockerfile
    depends_on:
      - rabbitmq # Chờ RabbitMQ chạy mới lên
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
volumes:
  postgres_data:
  postgres_pdf_data:
  postgres_auth_data:
  pdf_temp:
  minio_data:
