
.mod-login
{
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  &-header{

    display: block;
    top:0;
    z-index: 1;
    position: fixed;
    background-color: #010E21 !important;
    height: 80px;
  }
  &-footer
  {
    display: block;
    margin-top:110px ;
    bottom:0;
    left: 0;
    width: 100%;
    transform: translate(-0%,-0%);
    overflow: hidden;

  }
}
.mod-achievement{
  display: block;
  margin-top: 1.5rem;
  position: relative;
  z-index: 0;
  height: auto;
  margin-bottom: auto;
  .table-header{
    background-color: #010E21;
    color: #fff;
  }
}

