
<div class="mod-login d-flex flex-column h-100">
  <div class="mod-login-header w-100">
    <app-haeder></app-haeder>
  </div>
</div>
  <div class=" mod-achievement my-5 py-5">
    <div class=" container">
    <h2>Summary of your previous attempts</h2>
    <table class="table table-hover  ">
      <thead class="table-header" >
        <tr>
          <th>Attempt</th>
          <th>State</th>
          <th>Điểm</th>
          <th>scores</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Finished
            Submitted Sunday, 20 December 2020, 11:10 AM</td>
          <td>john@example.com</td>
          <td>10.00</td>
          <td><a routerLink="/detail/achievements/123213">Review</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
    <div class="mod-login-footer">
      <app-footer></app-footer>
    </div>
<router-outlet></router-outlet>
