
<div class="mod-question">
  <div class="mod-question-header">
    <app-haeder></app-haeder>
  </div>

  <div class="mod-question-body my-md-5">
    <div class="container row  ml-0">
      <div class="col-md-4 mod-question-body-nav p-0 m-0 col-sm-12">
        <nav class="navbar  navbar-expand-md  navbar-light d-flex flex-md-column ">

          <h3>Types of questions</h3>

          <div class="collapse navbar-collapse justify-content-center"  id="collapsibleNavbar">
            <ul class="navbar-nav d-flex flex-wrap w-50 ">
                 <a href=""class="btn btn-item">1</a>

            </ul>
          </div>
        </nav>

      </div>
      <div class="col-md-8  m-0 col-sm-12">
        <form class="mod-question-body-content">
            <div class="boxItem">
              <h5>Name question</h5>
              <div class="  pl-5 form-check">
                <input type="checkbox" class="form-check-input" id="index">
                <label class="form-check-label" for="index">answers</label>
              </div>
              <div class="  pl-5 form-check">
                <input type="radio" class="form-check-input" id="index1">
                <label class="form-check-label" for="index1">answers</label>
              </div>
            </div>



            <button type="submit" class="btn btn-primary mt-2">submit</button>
        </form>
      </div>
    </div>



  </div>

  <div class="mod-question-footer">
    <app-footer></app-footer>
  </div>

</div>
