
<div class="mod-question">
  <div class="mod-question-header">
    <app-haeder></app-haeder>
  </div>

  <div class="mod-question-body my-md-5">
    <div class="container row  ml-0">
      <div class="col-md-4 mod-question-body-nav p-0 m-0 col-sm-12">
        <nav class="navbar  navbar-expand-md  navbar-light d-flex flex-md-column ">
          <h3>Navigation</h3>
          <div class="collapse navbar-collapse justify-content-center"  id="collapsibleNavbar">
            <ul class="navbar-nav d-flex flex-wrap w-50" *ngFor="let link of ' '.repeat(pageQuestions.length).split(''); index as i">
              <li>
                <a href="{{location}}#q{{i}}" class="btn btn-item">{{i + currentPage*questionsPerPage + 1}}</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
      <div class="col-md-8  m-0 col-sm-12">
        <h1 class="text-center">{{theme}} Test</h1>
        <h4 *ngIf='configured==true' class="text-center">
          Time remaining: {{clock.hours|number:'2.0'}}:{{clock.minutes|number:'2.0'}}:{{clock.seconds|number:'2.0'}}
        </h4>
        <!-- config form -->
        <form [formGroup]="config" *ngIf='configured==false' class="mod-question-body-content" (ngSubmit)="getOptions(config.value)">
          <div>
            <h2>Number of questions:</h2>
            <input formControlName='count' *ngIf='levelCount>=2' class="form-control col-md-4" type="number" max="{{levelCount}}"
            [ngClass]="{'is-invalid':config.get('count').touched && config.get('count').invalid}" placeholder="Number"><span>(*)</span>
            <!-- validator check -->
            <div class="invalid-feedback" *ngIf="config.get('count').touched && config.get('count').invalid">
              <small *ngIf="config.get('count').errors.required" class="text-danger showError">Please enter a number</small>
              <small *ngIf="config.get('count').errors.min" class="text-danger showError">Please enter at least 2</small>
              <small *ngIf="config.get('count').errors.max" class="text-danger showError">Please enter no more than 30</small>
            </div>
            <div>
              <h2>Level:</h2>
              <select formControlName='level' class="form-control col-md-4">
                <option *ngFor="let l of levelList; index as i" [value]="l" [selected]='i==0' (click)='loadSize(l)'>{{l}}</option>
              </select><span>(*)</span>
            </div>
            <!-- custom check -->
            <div>
              <small *ngIf='count>levelCount' class="text-danger showError">There are only {{levelCount}} available questions</small>
              <small *ngIf='2>levelCount' class="text-danger showError">There is no available test for this level yet</small>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Start test</button>
        </form>
        <form *ngIf='configured==true' class="mod-question-body-content" [formGroup]='answerSheet' (ngSubmit)="getResult()">
            <div class="boxItem my-2" *ngFor='let question of pageQuestions; index as i'>
              <h5 id='q{{i}}'>{{question.question}}</h5>
              <div class="  pl-5 form-check" *ngFor='let option of question.answer; index as o'>
                <!-- <input *ngIf='question.trueAnswer.length>1' type="checkbox" class="form-check-input" formControlName='q{{o}}' id='op'> -->
                <input type="radio" class="form-check-input" value="{{option}}" formControlName="{{i+currentPage*questionsPerPage}}" *ngIf='submitted==false'>
                <label class="form-check-label" for="op">{{option}}</label>
              </div>
            </div>
            <!-- pagination -->
            <nav aria-label=" navigation"class=" pagination-page">
              <ul class="pagination">
                <li class="page-item" *ngIf="currentPage>0">
                  <a class="page-link" (click)="loadPage(pageCount, 0)"><i class="eva eva-arrowhead-left-outline"></i></a>
                </li>
                <li class="page-item" *ngIf="currentPage>0">
                  <a class="page-link" (click)="loadPage(pageCount, currentPage-1)"><i class="eva eva-arrow-ios-back-outline"></i></a>
                </li>
                <li class="page-item" *ngFor="let link of ' '.repeat(pageCount).split(''); index as i">
                  <a class="page-link" (click)="loadPage(pageCount, i)">{{i+1}}</a>
                </li>
                <li class="page-item" *ngIf="currentPage<pageCount-1">
                  <a class="page-link" (click)="loadPage(pageCount, currentPage+1)"><i class="eva eva-arrow-ios-forward-outline"></i></a>
                </li>
                <li class="page-item" *ngIf="currentPage<pageCount-1">
                  <a class="page-link" (click)="loadPage(pageCount, pageCount-1)"><i class="eva eva-arrowhead-right-outline"></i></a>
                </li>
              </ul>
            </nav>
            <!-- submitt -->
            <h4 *ngIf='confirm==true && submitted==false' class="text-danger">Are you ready to submit?</h4>
            <button class="btn btn-primary mt-2" *ngIf='confirm==false && submitted==false' (click)='Confirm()'>Submit</button>
            <button type="submit" class="btn btn-primary m-2" *ngIf='confirm==true && submitted==false'>Yes</button>
            <button class="btn btn-danger m-2" *ngIf='confirm==true && submitted==false' (click)='confirm=false'>No</button>
        </form>
        <p class="text-center">{{result}}</p>
      </div>
    </div>

  </div>

  <div class="mod-question-footer">
    <app-footer></app-footer>
  </div>

</div>
