.mod-question{
  display: block;
  position: relative;
  &-header{
    display: block;
    top:0;
    z-index: 1;
    position: sticky;
    background-color: #010E21 !important;
    min-height: 80px;
  }
  &-body{
    position: relative;
    display: block;

    &-nav{
      height: auto;
      position: relative; 
      display: block;
      .navbar{
        position: fixed;
        top:100px;
      }
      border-right: 1px solid rgb(36, 35, 35);
      .btn-item{
        margin: 0.2rem;
        border: 1px solid rgb(117, 117, 117);
        border-radius: 0.2rem;
        font-weight: 500;
        transition: all 0.4s;
        &:hover{
          color: #fff;
          background-color: rgb(8, 20, 36);
        }

      }
    }

    &-content{
      .pagination-page{
        margin-top: 2rem;
        position: relative;
        bottom: 0;
        left: 0;
        display: inline;

      }
      .boxItem{
        background-color: rgb(213, 248, 248);
        border-radius: 0.5rem;
        font-weight: 500;
        padding: 0.8rem;
        box-shadow: 1px 1px rgb(216, 215, 215);

      }
      .detail-content{
        background-color: #e6e7e9;
        border-radius: 0.3rem;
        padding: 1rem 0.8rem;
        margin: 0.3rem 0;
        .form-check{
          label{
            font-size: 15px;
            font-weight: 400;
            color: #010E21;
            cursor: pointer;
            &:hover{
              color:#fd0000
            }
          }
        }
      }
    }
  }
  &-footer{
    position: relative;
    bottom: 0;
    left: 0;
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .mod-question-body{
    background-color: #0b3066;
    color: #fff;
    .link-bgWhite{
      color: #fff;
    }
    &-nav{
      height: auto;
      display: block;
      background-color: none;
      border-right: none;

    }
    &-content{
      .pagination-page{
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }
}
