<div class="mod-createUser my-5">
    <div class="d-flex justify-content-center align-self-center ">
        <div class="mod-createUser-avatar  ">
            <img src="../../../../../assets/Images/logo.png" alt="logo">
            <input type="file" id="img" style="display:none;" (change)="handleFileInput($event.target.files)">
            <label class="file form-control text-center" for="img">Avatar</label>
        </div>
    </div>
    <div class="mod-createUser-form mt-5">
        <form [formGroup]="dataform" name="dataform" (ngSubmit)="submitEditUser($event,dataform.value)">
            <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" class="form-control"
                [ngClass]="{'is-invalid':dataform.get('fullname').touched && dataform.get('fullname').invalid}"
                formControlName="fullname" placeholder="Name..." />
            <div class="invalid-feedback" *ngIf="dataform.get('fullname').touched && dataform.get('fullname').invalid">
                <small *ngIf="dataform.get('fullname').errors.required" class="form-text  showError">Name is required</small>
            </div>
    
            </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control"
                ngClass="{'is-invalid':dataform.get('email').touched && dataform.get('email').invalid}"
                formControlName="email" placeholder="Email..." />
            <div class="invalid-feedback" *ngIf="dataform.get('email').touched && dataform.get('email').invalid">
                <small *ngIf="dataform.get('email').errors.required" class="form-text  showError">email is required</small>
                <small *ngIf="dataform.get('email').errors.email" class="form-text  showError"> Wrong email format</small>
            </div>
    
            </div>
    
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" (keydown)="onchange()"
                [ngClass]="{'is-invalid':dataform.get('password').touched && dataform.get('password').invalid}"
                formControlName="password" placeholder="Password...">
            <div class="invalid-feedback" *ngIf="dataform.get('password').touched && dataform.get('password').invalid">
                <small *ngIf="dataform.get('password').errors.required" class="form-text  showError">password is
                required</small>
                <small *ngIf="dataform.get('password').errors.minlength" class="form-text  showError"> password min is 6
                character</small>
            </div>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control"
                [ngClass]="{'is-invalid':dataform.get('confirmpassword').touched && dataform.get('confirmpassword').invalid}"
                formControlName="confirmpassword" placeholder="Confirm Password...">
            <div class="invalid-feedback"
                *ngIf="dataform.get('confirmpassword').touched  && dataform.get('password').dirty && dataform.get('confirmpassword').invalid">
                <small *ngIf="dataform.get('confirmpassword').errors.required" class="form-text  showError">password is
                required</small>
                <small *ngIf="dataform.controls['confirmpassword'].errors.passwordNotMatch"
                class="form-text showError">Confirm password does not match</small>
            </div>
            </div>
            <div class="form-group">
            <label for="role"></label>
            <select class="form-control"  formControlName="role" id="role">
                <option selected value="2">Admin</option>
                <option value="1">User</option>
            </select>
            </div>
            
            <div class="form-group">
            <button type="submit" [disabled]="dataform.status=='INVALID'" class=" form-control btn btn-primary">
                Save
            </button>
            </div>
        </form>
    </div>
</div>
  