<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userEquipmentActivityLog">
            <h2><span jhiTranslate="managedAccessoriesSystemApp.userEquipmentActivityLog.detail.title">User Equipment Activity Log</span> {{ userEquipmentActivityLog.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="managedAccessoriesSystemApp.userEquipmentActivityLog.activity">Activity</span></dt>
                <dd>
                    <span>{{ userEquipmentActivityLog.activity }}</span>
                </dd>
                <dt><span jhiTranslate="managedAccessoriesSystemApp.userEquipmentActivityLog.date">Date</span></dt>
                <dd>
                    <span>{{ userEquipmentActivityLog.date }}</span>
                </dd>
                <dt><span jhiTranslate="managedAccessoriesSystemApp.userEquipmentActivityLog.user">User</span></dt>
                <dd>
                    <div *ngIf="userEquipmentActivityLog.user">
                        <a [routerLink]="['/employee', userEquipmentActivityLog.user?.id, 'view']">{{ userEquipmentActivityLog.user?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="managedAccessoriesSystemApp.userEquipmentActivityLog.equipment">Equipment</span></dt>
                <dd>
                    <div *ngIf="userEquipmentActivityLog.equipment">
                        <a [routerLink]="['/equipment', userEquipmentActivityLog.equipment?.id, 'view']">{{ userEquipmentActivityLog.equipment?.equipmentName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/user-equipment-activity-log', userEquipmentActivityLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
