

@{ ViewBag.Title = "Import StudentCVs Excel File";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";}

<center><h1>Import Student CV CSV File</h1></center>
<div id="viewContent">
    <h3>@ViewBag.Result</h3>
    @using (Html.BeginForm("Import", "ImportCSVs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" value="Import" />
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index", "StudentCVs",null, new { @class = "btn btn-info" })
</div>