 <div class="mod-createQuestion">
   <h2 class="text-center"> Create Question </h2>
   <hr/>
  <div class="mod-createQuestion-content px-4">
    <form class="row" [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)">
      <div class="col-lg-6 col-12">
        <div class="form-group">
          <label >Question ?</label><br/>
            <textarea type="text" formControlName="question" cols="60" rows="4"></textarea>
        </div>

        <div class="form-group" formArrayName="answer">
          <label  >Answer</label>
          <div *ngFor="let list_item of answer.controls;  let i=index" [formGroupName]="i" class="panel panel-default">
            {{i + 1}}.) <input type="text" formControlName='name'    class="form-control">
          </div>
        </div>
        <div class="form-group d-flex">
          <a class="form-control btn btn-primary" (click)="addAnswer(true)">+</a>
          <a class="form-control btn btn-danger" (click)="addAnswer(false)">-</a>
        </div>

      </div>
      <div class="col-lg-6 col-12">
        <div class="form-group" >
          <label >True Answer</label>
            <select class="form-control " formControlName="trueAnswer" formArrayName="answer">

              <option    class="text-center">-----Choose Answer Correct----- </option>
              <option *ngFor="let list_item of answer.controls;  let i=index"  [formGroupName]="i" [ngValue]="list_item.get('name').value">
                {{list_item.get('name').value}}
              </option>
            </select>


        </div>

        <div class="row">
            <div class="col-lg-6">
              <div class="form-group ">
                <label >Theme</label>
                <input type="text" formControlName="themeName"  class="form-control" id="exampleInputPassword1">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group ">
                <label >Point</label>
                <input type="text" formControlName="point"  class="form-control" id="exampleInputPassword1">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group ">
              <label >level</label>
              <input type="text" formControlName="level"  class="form-control" id="exampleInputPassword1">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group ">
              <label >Time</label>
              <input type="text" formControlName="timeallow"  class="form-control" id="exampleInputPassword1">
            </div>
          </div>
      </div>


        <button type="submit" class="btn btn-primary">Create Questio  </button>
      </div>



    </form>
  </div>
 </div>
