.mod-home
{
  position: relative;
  display: block;
  top:0;
  left: 0;
  z-index: 0;
  background-image: url("../../../assets/Images/content.jpg");

  &-content{
    color: #fff;
    height: 350px;
    h1{
      font-weight: 1000;
    }
    .btn-start{
      width: 150px;
      cursor: pointer;
      font-size: 20px;
     text-align: center;
     padding: 0.5rem 0;
      border-radius: 30px;
      background-color: #c52941;
      color: #fff;
      font-weight: 500;
      &:hover{
        text-decoration: none;
        background: #d80d2b;
        z-index: 1;
      }
    }
  }
}

