
.mod-login
{
  padding: 0;
  margin: 0;
  display: block;
  &-header{

    display: block;
    top:0;
    position: sticky;
    background-color: #010E21 !important;

    height: 80px;

  }
  &-form{
    h3{
      font-weight: 500;
      color: #010E21 !important;
    }
    box-shadow: 1px 1px 1px 1px #43474d;
    padding: 1.5rem 3rem;
    border-radius: 0.2rem;
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    margin: 0 auto;
    .btn
    {
      border-radius: 30px;
      color: #ffff;
      background-color: #010E21;
      transition: all 0.4s;
      &:hover{
        background-color: #113264;
      }
    }
    .login-link{
      a{
        font-size: 14px;
        font-weight: 400;
        color: #010E21;
      }
    }
  }
}

