
.mod-adminUsers{
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  &-table{

    .btn-edt{
      background-color: rgb(1, 5, 250);
      font-size: 16px;
      color: #fff;
      padding: 0.01rem 0.5rem;
    }
    .btn-delete{
      background-color: rgb(250, 1, 1);
      font-size: 16px;
      color: #fff;
      padding: 0.01rem 0.5rem;
    }
    .btn-achi{
      background-color: rgb(250, 213, 1);
      font-size: 16px;
      color: #fff;
      padding: 0.01rem 0.5rem;
    }
  }
}


