.mod-createUser{
  &-avatar{
    position: relative;
    display: block;
    justify-content: center;
    width: 110px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px  rgb(168, 165, 165);
    overflow: hidden;
    .file{
      background-color: rgb(204, 203, 203);
      cursor: pointer;
      opacity: 0.8;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
      &:hover{
        opacity: 0.8;
        background-color: rgb(134, 134, 134);
      }
    }
  }
  &-form{
    max-width: 300px;
    margin: 0 auto;
    .btndes{
      background-color: rgb(26, 1, 252);
      color: #fff;
      font-weight: 500;
    }
  }
}
