<div class="mod-question">
  <div class="mod-question-header">
    <app-haeder></app-haeder>
  </div>

  <div class="mod-question-body my-md-5">
    <div class="container row  ml-0">
      <div class="col-md-4 mod-question-body-nav p-0 m-0 col-sm-12">
        <nav class="navbar  navbar-expand-md  navbar-light d-flex flex-md-column ">

          <h3>Languse Program</h3>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav d-flex  flex-column">
              <li class="nav-item">
                <a class="link-bgWhite" href="#">Java Question</a>
              </li>
              <li class="nav-item dropdown ">
                <a class="  dropdown-toggle link-bgWhite" data-toggle="collapse" data-target="#demo">
                  Dropdown link
                </a>
                <div id="demo" class="collapse">
                  <a class="dropdown-item link-bgWhite" href="#">Link 1</a>
                  <a class="dropdown-item link-bgWhite" href="#">Link 2</a>
                  <a class="dropdown-item link-bgWhite" href="#">Link 3</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="link-bgWhite" href="#">Python Question</a>
              </li>
              <li class="nav-item">
                <a class="link-bgWhite" href="#">C# Question</a>
              </li>
              <li class="nav-item">
                <a class="link-bgWhite" href="#">Php Question</a>
              </li>
              <li class="nav-item">
                <a class="link-bgWhite" href="#">ASP.NET Question</a>
              </li>
              <li class="nav-item">
                <a class="link-bgWhite" href="#">Web API Question</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
      <div class="col-md-8  m-0 col-sm-12">
        <div class="mod-question-body-content d-flex flex-column">

          <div class="detail-content">
            <h6>A user opens their browser and navigates to your-blog.com/posts/first-post. What JavaScript is initially
              loaded for this page?</h6>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="">
              <label class="form-check-label" for="exampleRadios1">
                Only the JavaScript for /posts/first-post is loaded.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="">
              <label class="form-check-label" for="exampleRadios1">
                Only the JavaScript for /posts/first-post is loaded.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="">
              <label class="form-check-label" for="exampleRadios1">
                Only the JavaScript for /posts/first-post is loaded.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="" id="exampleRadios2" value="">
              <label class="form-check-label" for="exampleRadios2">
                Only the JavaScript for /posts/first-post is loaded.
              </label>
            </div>
          </div>

          <div class="detail-content">
            <h6>A user opens their browser and navigates to your-blog.com/posts/first-post. What JavaScript is initially
              loaded for this page?</h6>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="">
              <label class="form-check-label" for="exampleRadios1">
                Only the JavaScript for /posts/first-post is loaded.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="">
              <label class="form-check-label" for="exampleRadios1">
                Only the JavaScript for /posts/first-post is loaded.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="" id="exampleRadios1" value="">
              <label class="form-check-label" for="exampleRadios1">
                Only the JavaScript for /posts/first-post is loaded.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="" id="exampleRadios2" value="">
              <label class="form-check-label" for="exampleRadios2">
                Only the JavaScript for /posts/first-post is loaded.
              </label>
            </div>
          </div>
          <nav aria-label=" navigation"class=" pagination-page">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#"><i class="eva eva-arrowhead-left-outline"></i></a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="eva eva-arrow-ios-back-outline"></i></a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="eva eva-arrow-ios-forward-outline"></i></a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="eva eva-arrowhead-right-outline"></i></a></li>
            </ul>
          </nav>

        </div>
      </div>
    </div>



  </div>

  <div class="mod-question-footer">
    <app-footer></app-footer>
  </div>

</div>
