<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="IFD.Logging.JsonLayout, IFD.Logging"></layout>
  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="logs/" />
    <datePattern value="'Wms.Admin_'yyyy.MM.dd'.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [X-Request-ID:%property{X-Request-ID}] [X-Message-ID:%property{X-Message-ID}] [ObjectMessageID:%property{ObjectMessageID}] [%thread] %-5level %logger [ActionType:%property{ActionType}] [WmsId:%property{WmsId}] [NetworkType:%property{NetworkType}] [SearchCode:%property{SearchCode}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO"/>
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="RollingLogFileAppender"/>
  </root>
</log4net>

