<div class="mod-questions">
  <div class="d-flex justify-content-between">
    <button routerLink="/admin/createQuestion" type="button" class="btn btn-primary">Create Question +</button>
    <ul class="navbar-nav">

      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Themes <i class="eva eva-arrow-ios-downward-outline "></i></span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu   shadow  " aria-labelledby="userDropdown">
          <a class="dropdown-item" (click)="getQuestion()">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="eva eva-log-in-outline"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
  </div>

  <hr>

  <div class="mod-question-body-content d-flex flex-column">

    <div class="detail-content">
      <h6>A user opens their browser and navigates to your-blog.com/posts/first-post. What JavaScript is initially
        loaded for this page?</h6>
      <div class="form-check">
        <label class="form-check-label" for="exampleRadios1">
          Only the JavaScript for /posts/first-post is loaded.
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="exampleRadios1">
          Only the JavaScript for /posts/first-post is loaded.
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="exampleRadios1">
          Only the JavaScript for /posts/first-post is loaded.
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="exampleRadios2">
          Only the JavaScript for /posts/first-post is loaded.
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="exampleRadios2">
          <b>Answer: </b> Only the JavaScript for /posts/first-post is loaded.
        </label>
      </div>
      <div class="detail-content-btn">
        <button type="button" class="btn btn-edt" routerLink='/admin/updateQuestion'><i
            class="eva eva-edit-outline"></i> </button>
        <button type="button" class="btn btn-delete" (click)="deleteQuestion('id')"><i
            class="eva eva-trash-2-outline"></i> </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
