<div class="mod-questions">
  <div class="d-flex justify-content-between">
    <div>
      <button routerLink="/admin/createQuestion" type="button" class="btn btn-primary">Create Question +</button>
      <a for="txtFileUpload" class="btn ml-2 btn-success"> <i class="eva eva-cloud-upload-outline    "></i>  Upload</a>
      <!-- <input type="file" class="d-none" name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
        accept=".csv" /> -->
      <button type="button" class=" ml-1 btn btn-primary"><i class="eva eva-cloud-download-outline   "></i> Export
      </button>
    </div>
    <div class="d-flex flex-wrap">
      <input type="text" class=" w-75 form-control small" placeholder="Name question..." />
      <button class="btn btn-primary" type="button">
        <i class="eva eva-search-outline"></i>
      </button>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Themes <i
              class="eva eva-arrow-ios-downward-outline "></i></span>
        </a>
        <!-- Dropdown - Question Themes -->
        <div class="dropdown-menu shadow " aria-labelledby="userDropdown">
          <div class="dropdown-item" *ngFor="let item of themes">
            <a (click)="getThemeQuestions(item,0); getPageCount()">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              {{item}} Questions
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <hr>

  <div class="mod-question-body-content d-flex flex-column">
    <div class="detail-content" *ngFor="let item of questions; index as q">
      <div class="form-check">
        <table *ngIf="item.status">
          <tr>
            <th><b>{{currentPage>0?q+(currentPage*q+1):q+1}}. {{item.question}}</b></th>
          </tr>
          <tr *ngFor="let a of item.answer; index as i">
            <td>{{i+1}}. {{a}}</td>
          </tr>
          <tr>
            <td><b>Answer:</b> {{item.trueAnswer}}</td>
          </tr>
          <tr>
            <td><b>Level:</b> {{item.level}}</td>
          </tr>
          <tr>
            <td><b>Points:</b> {{item.point}}</td>
          </tr>
          <tr>
            <td><b>Time Allowed:</b> {{item.timeallow}}</td>
          </tr>
        </table>
      </div>
      <!-- routerLink='/admin/updateQuestion' -->
      <div class="detail-content-btn">
        <button type="button" class="btn btn-edt" (click)="getIdForEditQuestion(item.id)"><i
            class="eva eva-edit-outline"></i> </button>
        <button type="button" class="btn btn-delete" (click)="deleteQuestion(item.id)"><i
            class="eva eva-trash-2-outline"></i> </button>
      </div>
    </div>
    <!-- Question Pagination -->
    <nav aria-label=" navigation" class=" pagination-page">
      <ul class="pagination">
        <li class="page-item" *ngIf="currentPage>0">
          <a class="page-link" (click)="getThemeQuestions(currentTheme,0)"><i
              class="eva eva-arrowhead-left-outline"></i></a>
        </li>
        <li class="page-item" *ngIf="currentPage>0">
          <a class="page-link" (click)="getThemeQuestions(currentTheme,currentPage-1)"><i
              class="eva eva-arrow-ios-back-outline"></i></a>
        </li>
        <li class="page-item" *ngFor="let link of ' '.repeat(pageCount).split(''); index as i">
          <a class="page-link" (click)="getThemeQuestions(currentTheme,i)">{{i+1}}</a>
        </li>
        <li class="page-item" *ngIf="currentPage<pageCount-1">
          <a class="page-link" (click)="getThemeQuestions(currentTheme,currentPage+1)"><i
              class="eva eva-arrow-ios-forward-outline"></i></a>
        </li>
        <li class="page-item" *ngIf="currentPage<pageCount-1">
          <a class="page-link" (click)="getThemeQuestions(currentTheme,pageCount-1)"><i
              class="eva eva-arrowhead-right-outline"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
