.mod-login
{
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  &-header{
    display: block;
    top:0;
    z-index: 1;
    position: fixed;
    background-color: #010E21 !important;
    height: 80px;
  }

}
.mod-detailAchievement{
  position: relative;
  display: block;
    
  .mod-detailAchievement-boxq
  {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #b6d1fa;
   
    ul{
      list-style: none;
      margin-left: 1.5rem;

    }
  }
  
  .mod-detailAchievement-boxa
  {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #fde8d5;
    ul{
      list-style: none;
      margin-left: 1.5rem;

    }
  }
  .btn-item{
    margin: 0.2rem;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 0.2rem;
    font-weight: 500;
    transition: all 0.4s;
    &:hover{
      color: #fff;
      background-color: rgb(8, 20, 36);
    }
  }
  .box-link{
     display: block;  
      position:fixed;
      right:50px;

    ul{
      list-style: none;
    }


  }
}
