<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-area-heading" jhiTranslate="managedAccessoriesSystemApp.area.home.createOrEditLabel">Create or edit a Area</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="managedAccessoriesSystemApp.area.areaName" for="field_areaName">Area Name</label>
                    <input type="text" class="form-control" name="areaName" id="field_areaName"
                           formControlName="areaName"/>
                    <div *ngIf="editForm.get('areaName')!.invalid && (editForm.get('areaName')!.dirty || editForm.get('areaName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('areaName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="managedAccessoriesSystemApp.area.leader" for="field_leader">Leader</label>
                    <select class="form-control" id="field_leader" name="leader" formControlName="leader">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === editForm.get('leader')!.value?.id ? editForm.get('leader')!.value : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackById">{{ employeeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
