
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.import.title">Import operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body" >
        <div *ngIf="file" class="progress">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
          >
            {{ progress }}%
          </div>
        </div>

        <ngx-dropzone (change)="dropFile($event)">
            <ngx-dropzone-label jhiTranslate="entity.import.dragndrop.CSV"><h2>Drop a single file</h2></ngx-dropzone-label>
            <ngx-dropzone-label>{{ file?.name }}.{{ file?.type }}</ngx-dropzone-label>
          </ngx-dropzone>

        <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)" />
        </label>
        
        <div class="alert alert-light" role="alert">{{ message }}</div>

        <div *ngIf="errorList" class="alerts" role="alert">
          <div *ngFor="let error of errorList">
            <ngb-alert *ngIf="error" type="danger">
              <div 
                *ngIf="error.param2; else block"
                jhiTranslate="{ error.locale }"
                [translateValues] = "{ param0: error.line, param1: error.param1, param2: error.param2 }"
              ></div>
              <ng-template #block>
                <div 
                jhiTranslate="{{ error.locale }}"
                [translateValues] = "{ param0: error.line, param1: error.param1 }"
              ></div>
              </ng-template>
            </ngb-alert>
          </div>
        </div>

        <jhi-alert-error></jhi-alert-error>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button class="btn btn-success" [disabled]="!file" (click)="confirmImport()">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.import">Delete</span>
        </button>
    </div>