@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="~/img/internlogo_reD_icon.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Error</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

    <!-- Font Awesome Icon -->
    <link type="text/css" rel="stylesheet" href="~/Content/ErrorPage/css/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/ErrorPage/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

    <div id="notfound">
        <div class="notfound-bg"></div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>Error!</h1>
            </div>
            <h2>You don't have permission on this function. Contact admin</h2>
            <a href="/Home" class="home-btn">Go Home</a>
            <div class="notfound-social">
                <a href="http://www.infodation.nl"><i class="fa fa-internet-explorer"></i></a>
                <a href="https://www.facebook.com/infodation/"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/company/infodation/about/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

</body>

</html>

