<div class="content-first ">
  <div class="container  py-5">
    <div class="content-first-content text-center">
      <h5 class="content-first-content-lable">Our Best Services</h5>
      <h2>What we have for you</h2>
    </div>
  </div>
</div>
<div class="content-first-content">
  <div class="content-first-two container pb-5">
    <div class="row ">
      <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="card ">
          <div class="card-STT">
            <h3>#1</h3>
          </div>

          <div class="card-name">
            <img src="../../../../assets/Images/php.png" alt="Card image">
          </div>
          <div class="card-body">
            <p class="card-text">
              PHP is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.<br>
              PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.<br>
            </p>
            <a title="Go to Top" target="_black" href="https://www.w3schools.com/php/default.asp"> <i class="eva eva-arrow-circle-right-outline "></i> GET STARTED</a>
          </div>
          <img class="card-img-bottom" src="../../../../assets/Images/img.png" alt="Card image" style="width:100%">
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="card ">
          <div class="card-STT">
            <h3>#2  </h3>
          </div>
          <div class="card-name">
            <img src="../../../../assets/Images/java.png" alt="Card image">
          </div>
          <div class="card-body">

            <p class="card-text">
              Java is a popular programming language<br>
              It is used for:<br>
                Mobile applications (specially Android apps)<br>
                Desktop applications<br>
                Web applications<br>
                Web servers and application servers<br>
            </p>
            <a title="Go to Top" target="_black" href="https://www.w3schools.com/java/java_intro.asp"> <i class="eva eva-arrow-circle-right-outline "></i> GET STARTED</a>
          </div>
          <img class="card-img-bottom" src="../../../../assets/Images/img.png" alt="Card image" style="width:100%">
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="card ">
          <div class="card-STT">
            <h3>#3</h3>
          </div>
          <div class="card-name">
            <img src="../../../../assets/Images/c.png" alt="Card image">
          </div>
          <div class="card-body">

            <p class="card-text">
              C# (C-Sharp) is a programming language developed by Microsoft that runs on the .NET Framework.<br>
              C# is used to develop web apps, desktop apps, mobile apps, games and much more.
            </p>
            <a title="Go to Top" href="https://www.w3schools.com/cs/default.asp" target="_black"> <i class=" eva eva-arrow-circle-right-outline "></i> GET STARTED</a>
          </div>
          <img class="card-img-bottom" src="../../../../assets/Images/img.png" alt="Card image" style="width:100%">
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="card ">
          <div class="card-STT">
            <h3>#4</h3>
          </div>
          <div class="card-name">
            <img src="../../../../assets/Images/python.png" alt="Card image">
          </div>
          <div class="card-body">

            <p class="card-text">
              Python is a popular programming language.  <br>
              It is used for:<br>
              web development.<br>
              Software development.<br>
              Mathematics.<br>
              System scripting.
            </p>
            <a title="Go to Top" target="_black" href="https://www.w3schools.com/python/default.asp"> <i class="eva eva-arrow-circle-right-outline "></i> GET STARTED</a>
          </div>
          <img class="card-img-bottom" src="../../../../assets/Images/img.png" alt="Card image" style="width:100%">
        </div>
      </div>
    </div>
  </div>
</div>
