.content-second{
  position: relative;
  display:block;
  margin: 0;
  padding: 3rem 0;
  &-title{
    h4{
      color: #e42f2f;
    }
    h2{
      font-size: 2.5rem;
      font-weight: 1000;
      padding: 1.5rem 0;
    }
    &-btn{

      height: 15px;
      padding: 0.5rem;
      background-color: #e42f2f;
      border-radius: 30px;

    }
  }
  &-btn{
    color: #fff;

     padding: 0.7rem 1.5rem;
     background-color: #e42f2f;
     border-radius: 30px;
     transition: all 0.4s;
     &:hover{
       text-decoration: none;
       background-color: #f10909;
     }

   }
   &-img{
     overflow-x: hidden;
      img{
        min-width: 300px;
      }
   }

}

