<div class="content-second">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6 col-sm-12">
          <div class="content-second-title">
            <h4>Interview Questions</h4>
            <h2>We are with you every step of the way</h2>
          </div>
          <div class="content-second-text">
            <p>Your knowledge is low, makes you feel confident about exchanging opinions with others, or you are afraid of questions during an interview. Don't worry anymore as we will help
              you replenish what you are missing </p>
              <p>You don't have to be good, you just need to be diligent. Don't say difficult when you haven't really tried yet. </p>
          </div>
            <a title="Go to Top" class="content-second-btn"  routerLink="/questions"  > <i class="eva eva-arrow-circle-right-outline "></i> GET STARTED</a>

        </div>
        <div class="col-md-12 col-lg-6 d-none d-md-block col-sm-12">
          <div class="content-second-img">
            <img src="../../../../assets/Images/secondHome.png" width="100%"  alt="second">
          </div>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
