<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="IFD.Logging.JsonLayout, IFD.Logging"></layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="logs/" />
      <datePattern value="'CRS.Send_'yyyy.MM.dd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [X-Request-ID:%property{X-Request-ID}] [X-Message-ID:%property{X-Message-ID}] [ObjectMessageID:%property{ObjectMessageID}] [%thread] %-5level %_logger [ActionType:%property{ActionType}] [TicketRef:%property{TicketRef}] [ExternalTicketNo:%property{ExternalTicketNo}] [sourceId:%property{SourceId}] [SourceSystemId:%property{SourceSystemId}] [X-WMS-source-id:%property{X-WMS-source-id}] [X-WMS-source-system-id:%property{X-WMS-source-system-id}] [CreatorTaskId:%property{CreatorTaskId}] - %message%newline" />
    </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender" level="INFO"/>
      <appender-ref ref="RollingLogFileAppender" level="DEBUG"/>
    </root>
  </log4net>

</configuration>